[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
langchain = "*"
langchain-openai = "*"
crewai = "*"
python-dotenv = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.12"
